<<<<<<< HEAD
<<<<<<< c82f053b44c9b4933a583e2abd4c0dcfb75a7aa0
<<<<<<< f9c4b56ef786fdc1b34bfa813b2d5fbbecb57211
=======
>>>>>>> edits
#navbar .nav-tabs .dropdown-menu, #navbar .nav-pills .dropdown-menu, #navbar .navbar .dropdown-menu {
  margin-top: 0; }
#navbar .dropdown-menu li {
  width: 100%; }
#navbar .dropdown-menu li:hover {
  color: white;
  background-color: #4682B4 !important; }
#navbar .dropdown:hover .dropdown-menu {
  display: block; }
#navbar li label {
  width: 100%;
  font-weight: 300; }
#navbar input[type=checkbox] {
  display: none; }
#navbar input[type=checkbox]:checked + li {
  background: #5BC0DE; }

<<<<<<< HEAD
.sampleLegend {
  height: 20px;
  color: white;
  background-color: #333333;
  border-radius: 0 0 8px 8px;
  padding: 0 0 3px 3px;
  margin-bottom: 6px; }
  .sampleLegend label {
    margin-right: 5px; }
  .sampleLegend label, .sampleLegend input {
    float: right; }

.mergedReads {
  border-bottom: 1px solid #e7e7e7;
  margin-bottom: 5px; }
=======
.nav-tabs .dropdown-menu, .nav-pills .dropdown-menu, .navbar .dropdown-menu {
  margin-top: 0; }

.dropdown-menu li {
  width: 100%; }

.dropdown-menu li:hover {
  color: white;
  background-color: #4682B4 !important; }

.dropdown:hover .dropdown-menu {
  display: block; }

li label {
  width: 100%;
  font-weight: 300; }

input[type=checkbox] {
  display: none; }

input[type=checkbox]:checked + li {
  background: #5BC0DE; }
>>>>>>> 2a05d25... Create refVis array of all the names and lengths of the sequence to be used in the visualization

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300; }

h1 {
  text-align: center;
  margin: 10px 0 0 0;
  color: #333333;
  font-weight: 400;
  text-transform: uppercase; }

h2 {
  text-align: center;
  margin: 0 0 10px 0;
  color: #999999;
  font-weight: 400; }

.highlight {
  font-weight: 700; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0 5px 0 5px;
  float: left; }

li {
  display: inline;
  float: left;
  padding: 0 0 0 5px; }

.axis path, .axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges; }

.axis text {
  font-family: sans-serif;
  font-size: 11px; }

div.tooltip {
  position: absolute;
  text-align: center;
  padding: 2px;
  background: #999999;
  border: 0px;
  pointer-events: none;
  color: white; }
  div.tooltip p {
    margin: 0px; }

input[type="text"] {
  height: 22px;
  padding: 4px 12px; }

.checkbox-inline {
  margin-left: 15px; }

<<<<<<< c82f053b44c9b4933a583e2abd4c0dcfb75a7aa0
#refVis {
  height: 180px;
  position: relative;
  width: 180px; }

.refVistooltip {
  background: #eee;
  box-shadow: 0 0 5px #999999;
  color: #333;
  display: none;
  font-size: 12px;
  left: 50px;
  padding: 10px;
  position: absolute;
  text-align: center;
<<<<<<< HEAD
<<<<<<< HEAD
  top: 60px;
=======
  top: 170px;
>>>>>>> c936174... added static RefVis ring chart read in real data
=======
  top: 50px;
>>>>>>> f9c4b56... changes to ssp files in overalls and variants
  width: 80px;
  z-index: 999999; }

/*
.main {
  position: relative;
  margin-right: 320px;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius:5px;
  padding: 20px;
}*/
h2.panel {
  text-align: center;
  color: #180E3A;
  font-weight: 500;
  width: 0;
  margin-left: -10px;
  margin-right: 0px;
  margin-top: 0px;
  border-radius: 0px;
  float: center; }

.panel {
  background: #ccc;
  margin-right: 320px;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 20px;
  width: 260px;
  float: left;
  z-index: 99999; }

#refArea {
  border-radius: 5px;
  border: 1.5px solid #8AC007; }

#varArea {
  border-radius: 5px;
  border: 1.5px solid #FF9933; }

#featArea {
  border-radius: 5px;
  border: 1.5px solid #FF99CC; }

#readsArea {
  padding: 0px; }

.graphArea {
  padding: 3px; }

.coverage-svg {
  overflow: visible !important; }

.samples {
  border-radius: 5px;
  border: 1.5px solid #996633;
  padding: 3px;
  padding-bottom: 8px; }
  .samples .col-md-10 {
    overflow-x: hidden; }

.sampleCoverage {
  border-bottom: 1px solid #e7e7e7;
  margin-bottom: 5px;
  padding-bottom: 5px; }

.ui-resizable-handle {
  position: absolute;
  font-size: 0.1px;
  z-index: 99999;
  display: block; }

.ui-resizable {
  margin-bottom: 30px; }

.ui-resizable-s {
  background: linear-gradient(#8A8A8A, #2F2F2F);
  border-top: 1px solid #111;
  border-bottom: 1px solid #111;
  box-shadow: inset 0 1px 0 #6e6e6e, 0 2px 2px rgba(0, 0, 0, 0.4);
  height: 10px;
  bottom: 0px; }

.ui-resizable-s:after {
  content: "-";
  display: block;
  position: absolute;
  top: 0;
  left: calc(50% - 12px);
  height: 2px;
  width: 25px;
  background-color: rgba(0, 0, 0, 0.4);
  margin: 3px; }

.col-md-10 {
  border-left: 1px solid #e7e7e7; }

.refDisabled {
  pointer-events: none;
  cursor: default;
  color: grey; }

#searchfield {
  display: block;
  width: 100%;
  text-align: center;
  margin-bottom: 35px; }

#searchfield form {
  display: inline-block;
  background: #eeefed;
  padding: 0;
  margin: 0;
  /*padding: 5px;*/
  /*border-radius: 3px;*/
  margin: 5px 0 0 0; }

#searchfield form .biginput {
  height: 22px;
  padding: 4px 12px; }

#searchfield form .biginput:focus {
  color: #858585; }

.flatbtn {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  outline: 0;
  border: 0;
  color: #f3faef;
  text-decoration: none;
  background-color: #6bb642;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  font-size: 1.2em;
  font-weight: bold;
  padding: 12px 22px 12px 22px;
  line-height: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  text-transform: uppercase;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 0 rgba(15, 15, 15, 0.3);
  -moz-box-shadow: 0 1px 0 rgba(15, 15, 15, 0.3);
  box-shadow: 0 1px 0 rgba(15, 15, 15, 0.3); }

.flatbtn:hover {
  color: #fff;
  background-color: #73c437; }

.flatbtn:active {
  -webkit-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.1); }

.autocomplete-suggestions {
  border: 1px solid #999;
  background: #fff;
  cursor: default;
  overflow: auto; }

.autocomplete-suggestion {
  padding: 10px 5px;
  font-size: 1.2em;
  white-space: nowrap;
  overflow: hidden; }

.autocomplete-selected {
  background: #f0f0f0; }

.autocomplete-suggestions strong {
  font-weight: normal;
  color: #3399ff; }

/*# sourceMappingURL=main.css.map */
=======
/*
Error: File to import not found or unreadable: partials/sampleLegend.
       Load path: /Users/Justinzh/GitHub/bigdatagenomics/mango/mango-cli/src/main/webapp/stylesheets
        on line 3 of /Users/Justinzh/GitHub/bigdatagenomics/mango/mango-cli/src/main/webapp/stylesheets/main.scss

1: @import 'modules/colors';
2: @import 'partials/menu';
3: @import 'partials/sampleLegend';
4: 
5: .mergedReads {
6:     border-bottom: 1px solid $covBorder;
7:     margin-bottom: 5px;
8: }

Backtrace:
/Users/Justinzh/GitHub/bigdatagenomics/mango/mango-cli/src/main/webapp/stylesheets/main.scss:3
/Users/Justinzh/Downloads/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.9/lib/sass/tree/import_node.rb:66:in `rescue in import'
/Users/Justinzh/Downloads/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.9/lib/sass/tree/import_node.rb:45:in `import'
/Users/Justinzh/Downloads/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.9/lib/sass/tree/import_node.rb:28:in `imported_file'
/Users/Justinzh/Downloads/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.9/lib/sass/tree/import_node.rb:37:in `css_import?'
/Users/Justinzh/Downloads/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:301:in `visit_import'
/Users/Justinzh/Downloads/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/Justinzh/Downloads/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/Justinzh/Downloads/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.9/lib/sass/stack.rb:79:in `block in with_base'
/Users/Justinzh/Downloads/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.9/lib/sass/stack.rb:115:in `with_frame'
/Users/Justinzh/Downloads/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.9/lib/sass/stack.rb:79:in `with_base'
/Users/Justinzh/Downloads/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/Justinzh/Downloads/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/Justinzh/Downloads/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/Justinzh/Downloads/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/Justinzh/Downloads/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/Users/Justinzh/Downloads/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/Justinzh/Downloads/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/Users/Justinzh/Downloads/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/Justinzh/Downloads/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/Users/Justinzh/Downloads/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/Justinzh/Downloads/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:157:in `visit'
/Users/Justinzh/Downloads/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/Justinzh/Downloads/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.9/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/Justinzh/Downloads/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.9/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/Users/Justinzh/Downloads/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.9/lib/sass/engine.rb:368:in `_render_with_sourcemap'
/Users/Justinzh/Downloads/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.9/lib/sass/engine.rb:285:in `render_with_sourcemap'
/Users/Justinzh/Downloads/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.9/lib/sass/exec/sass_scss.rb:396:in `run'
/Users/Justinzh/Downloads/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.9/lib/sass/exec/sass_scss.rb:62:in `process_result'
/Users/Justinzh/Downloads/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.9/lib/sass/exec/base.rb:52:in `parse'
/Users/Justinzh/Downloads/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.9/lib/sass/exec/base.rb:19:in `parse!'
/Users/Justinzh/Downloads/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.9/bin/sass:13:in `<top (required)>'
/Users/Justinzh/Downloads/Koala.app/Contents/Resources/app.nw/bin/sass:18:in `load'
/Users/Justinzh/Downloads/Koala.app/Contents/Resources/app.nw/bin/sass:18:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: File to import not found or unreadable: partials/sampleLegend.\A        Load path: /Users/Justinzh/GitHub/bigdatagenomics/mango/mango-cli/src/main/webapp/stylesheets\A         on line 3 of /Users/Justinzh/GitHub/bigdatagenomics/mango/mango-cli/src/main/webapp/stylesheets/main.scss\A \A 1: @import 'modules/colors';\A 2: @import 'partials/menu';\A 3: @import 'partials/sampleLegend';\A 4: \A 5: .mergedReads {\A 6:     border-bottom: 1px solid $covBorder;\A 7:     margin-bottom: 5px;\A 8: }"; }
>>>>>>> Fixed conflicts
=======
/*
.main {
  position: relative;
  margin-right: 200px;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius:5px;
  padding: 20px;
}*/


.panel {
  background: #ccc;
  /*margin-right: 320px;*/
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  width: 260px;
  float: left; 
  z-index: 1;
}

#refArea {
  border-radius: 5px;
  border: 1.5px solid #8AC007; }

#varArea {
  border-radius: 5px;
  border: 1.5px solid #FF9933; }

#featArea {
  border-radius: 5px;
  border: 1.5px solid #FF99CC; }

#readsArea {
  padding: 0px; }

.graphArea {
  padding: 3px; }

.coverage-svg {
  overflow: visible !important; }

.samples {
  border-radius: 5px;
  border: 1.5px solid #996633;
  padding: 3px;
  padding-bottom: 8px; }

.samples .col-md-10 {
  overflow-x: hidden; }

.sampleCoverage {
  border-bottom: 1px solid #e7e7e7;
  margin-bottom: 5px;
  padding-bottom: 5px; }

.ui-resizable-handle {
  position: absolute;
  font-size: 0.1px;
  /*z-index: 99999;*/
  display: block; }

.ui-resizable {
  margin-bottom: 30px; }

.ui-resizable-s {
  background: linear-gradient(#8A8A8A, #2F2F2F);
  border-top: 1px solid #111;
  border-bottom: 1px solid #111;
  box-shadow: inset 0 1px 0 #6e6e6e, 0 2px 2px rgba(0, 0, 0, 0.4);
  height: 10px;
  bottom: 0px; 
}

.ui-resizable-s:after {
  content: "-";
  display: block;
  position: absolute;
  top: 0;
  left: calc(50% - 12px);
  height: 2px;
  width: 25px;
  background-color: rgba(0, 0, 0, 0.4);
  margin: 3px; }

.col-md-10 {
  border-left: 1px solid #e7e7e7; }

.refDisabled {
  pointer-events: none;
  cursor: default;
  color: grey; }

#searchfield {
  display: block;
  width: 100%;
  text-align: center;
  margin-bottom: 35px; }

#searchfield form {
  display: inline-block;
  background: #eeefed;
  padding: 0;
  margin: 0;
  /*padding: 5px;*/
  /*border-radius: 3px;*/
  margin: 5px 0 0 0; }

#searchfield form .biginput {
  height: 22px;
  padding: 4px 12px; }

#searchfield form .biginput:focus {
  color: #858585; }

.flatbtn {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  outline: 0;
  border: 0;
  color: #f3faef;
  text-decoration: none;
  background-color: #6bb642;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  font-size: 1.2em;
  font-weight: bold;
  padding: 12px 22px 12px 22px;
  line-height: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  text-transform: uppercase;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 0 rgba(15, 15, 15, 0.3);
  -moz-box-shadow: 0 1px 0 rgba(15, 15, 15, 0.3);
  box-shadow: 0 1px 0 rgba(15, 15, 15, 0.3); }

.flatbtn:hover {
  color: #fff;
  background-color: #73c437; }

.flatbtn:active {
  -webkit-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.1); }

.autocomplete-suggestions {
  border: 1px solid #999;
  background: #fff;
  cursor: default;
  overflow: auto; }

.autocomplete-suggestion {
  padding: 10px 5px;
  font-size: 1.2em;
  white-space: nowrap;
  overflow: hidden; }

.autocomplete-selected {
  background: #f0f0f0; }

.autocomplete-suggestions strong {
  font-weight: normal;
  color: #3399ff; }

.example {
        float: left;
        margin: 15px;
      }
      
.demo {
  width: 200px;
  height: 400px;
  border-top: solid 1px #BBB;
  border-left: solid 1px #BBB;
  border-bottom: solid 1px #FFF;
  border-right: solid 1px #FFF;
  background: #FFF;
  overflow: scroll;
  padding: 5px;
}

/*# sourceMappingURL=main.css.map */
<<<<<<< HEAD
>>>>>>> edits
=======

/*# sourceMappingURL=main.css.map */
>>>>>>> d0ed45c... Create refVis array of all the names and lengths of the sequence to be used in the visualization
=======
/*
Error: File to import not found or unreadable: partials/sampleLegend.
       Load path: /Users/dorislee/Desktop/BioVis/mango/mango-cli/src/main/webapp/stylesheets
        on line 3 of /Users/dorislee/Desktop/BioVis/mango/mango-cli/src/main/webapp/stylesheets/main.scss

1: @import 'modules/colors';
2: @import 'partials/menu';
3: @import 'partials/sampleLegend';
4: 
5: .mergedReads {
6:     border-bottom: 1px solid $covBorder;
7:     margin-bottom: 5px;
8: }

Backtrace:
/Users/dorislee/Desktop/BioVis/mango/mango-cli/src/main/webapp/stylesheets/main.scss:3
/Applications/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.9/lib/sass/tree/import_node.rb:66:in `rescue in import'
/Applications/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.9/lib/sass/tree/import_node.rb:45:in `import'
/Applications/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.9/lib/sass/tree/import_node.rb:28:in `imported_file'
/Applications/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.9/lib/sass/tree/import_node.rb:37:in `css_import?'
/Applications/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:301:in `visit_import'
/Applications/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:36:in `visit'
/Applications/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Applications/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.9/lib/sass/stack.rb:79:in `block in with_base'
/Applications/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.9/lib/sass/stack.rb:115:in `with_frame'
/Applications/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.9/lib/sass/stack.rb:79:in `with_base'
/Applications/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Applications/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Applications/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:52:in `map'
/Applications/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Applications/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/Applications/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Applications/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/Applications/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Applications/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/Applications/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:36:in `visit'
/Applications/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:157:in `visit'
/Applications/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Applications/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.9/lib/sass/tree/root_node.rb:36:in `css_tree'
/Applications/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.9/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/Applications/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.9/lib/sass/engine.rb:368:in `_render_with_sourcemap'
/Applications/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.9/lib/sass/engine.rb:285:in `render_with_sourcemap'
/Applications/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.9/lib/sass/exec/sass_scss.rb:396:in `run'
/Applications/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.9/lib/sass/exec/sass_scss.rb:62:in `process_result'
/Applications/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.9/lib/sass/exec/base.rb:52:in `parse'
/Applications/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.9/lib/sass/exec/base.rb:19:in `parse!'
/Applications/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.9/bin/sass:13:in `<top (required)>'
/Applications/Koala.app/Contents/Resources/app.nw/bin/sass:18:in `load'
/Applications/Koala.app/Contents/Resources/app.nw/bin/sass:18:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: File to import not found or unreadable: partials/sampleLegend.\A        Load path: /Users/dorislee/Desktop/BioVis/mango/mango-cli/src/main/webapp/stylesheets\A         on line 3 of /Users/dorislee/Desktop/BioVis/mango/mango-cli/src/main/webapp/stylesheets/main.scss\A \A 1: @import 'modules/colors';\A 2: @import 'partials/menu';\A 3: @import 'partials/sampleLegend';\A 4: \A 5: .mergedReads {\A 6:     border-bottom: 1px solid $covBorder;\A 7:     margin-bottom: 5px;\A 8: }"; }
>>>>>>> ea5b9b3... force manual merge with remote; wiped all changes
